.World{
    position: relative;
    top: 30px;
    margin-left: 150px;
    
}
.text{
    position: relative;
 top: 25px;
    margin-left: 150px;
 
}
.model{
    margin-left: 150px;
    margin-top: 30px;
}
.config{
    height: 400px;
}
.green{
    border: 1px solid  rgb(13, 199, 13);
    color: rgb(13, 199, 13);
}
.carder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.carder.card{
    border: none;
}
.container{
    width: 1210px;
    margin: 0 auto;
}
.nav{
    color: white;
}